html {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button, 
textarea {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 8% 1fr 8%;
  grid-template-columns: 1fr;
  height: 100%;
}

a{
  text-decoration: none;
}

a:hover {
  color: greenyellow;
}

header {
  grid-area: header;
  background-color: rgb(28, 36, 107);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5%;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  grid-area: main;
  padding: 0.5%;
}

footer {
  grid-area: footer;
  background-color: rgb(28, 36, 107);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
  /* background-color: red; */
}

.sidebar {
  flex: 1 20rem;
  /* background-color: blue; */
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
  max-width: 42rem; /**/
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  background-color: blue;
  max-height: 39rem;
}

.product-price {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  border: 0.11rem solid black;
  border-radius: 1rem;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

.product-price button {
  background-color: goldenrod;
}

.product-price button:hover {
  filter: invert(100%)
}


.filter {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin: 1%;
  border-bottom: 0.1rem solid grey;
}

.filter-sort select {
  background-color: rgb(236, 236, 236);
  margin-left: 0.5rem;
}